<section class="page__container">
    <header class="page__header">
        <h2 mat-dialog-title>Поиск репозитория</h2>
    </header>

    <section class="page__main">
        <search-input label="Введите имя репозитория" placeholder="tetris" [text]="searchText" (changeText)="onFilter($event)"></search-input>
        <mat-list>
            <span *ngIf="isNotResults && !errorMessageText" class="page__message">Нет результатов, удовлетворяющих поиску</span>
            <span *ngIf="errorMessageText" class="page__error">{{ errorMessageText }}</span>
            <mat-list-item *ngFor="let item of repositories; index as index">
                <h3 matLine>{{ makeSerialNumber(index) }}. {{ item.name }} </h3>
                <mat-icon>star</mat-icon>{{ item.stargazers_count }}
            </mat-list-item>
        </mat-list>

    </section>

    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
</section>
