@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './assets/styles/shared.scss';

html,
body {
    height: 100%;
}

body,
app-root {
  width: 100%;
}

body {
    font-family: Manrope, Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: $color-black;
    background-color: $color-lightcyan;
    margin: 0;
}
